body {
  font-family: Arial;
  background: #111;
  color: #fff;
  text-align: center;
}

input, button, select {
  padding: 8px;
  margin: 5px;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

#road span {
  padding: 5px;
  margin: 2px;
  display: inline-block;
  background: #333;
}

li {
  list-style: none;
}
